@model List<Bill>

@{
	Layout = "~/Views/Shared/_DashLayout.cshtml";
}



@if (Model == null)
{
	<p>No bills found.</p>
}
else
{

	<div class="card">
		<div class="card-body">
			<div class="d-lg-flex align-items-center mb-4 gap-3">
				<div class="position-relative">
					<input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
				</div>
				<div class="ms-auto"><a href="#" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New Order</a></div>

			</div>
			<div class="ms-auto text-end">
				<a href="#" class="btn btn-primary radius-30 mt-2 mt-lg-0">
					<i class="bx bxs-plus-square"></i>Confirm All
				</a>
			</div>

			<div class="table-responsive">
				<table class="table mb-0">
					<thead class="table-light">
						<tr>
							<th>Order#</th>
							<th>UserName</th>
							<th>Status</th>
							<th>Total</th>
							<th>Date</th>
							<th>Address</th>
							<th>ViewDetail</th>
							<th>Actions</th>

						</tr>
					</thead>
					<tbody>
						@foreach (var bill in Model)
						{
							<form method="post" asp-controller="Seller" asp-action="ProcessBill">
								<input type="hidden" name="billId" value="@bill.BillId" />

							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div>
											<input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
										</div>
										<div class="ms-2">
											<h6 class="mb-0 font-14">@bill.BillId</h6>
										</div>
									</div>
								</td>
								<td>@bill.Email</td>
								<td>
										@if (bill.BillStatus == "0")
										{
										<div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">
											<i class='bx bxs-circle me-1'></i>Đã Đặt Hàng
										</div>
										}
										else if (bill.BillStatus == "1")
										{
										<div class="badge rounded-pill text-warning bg-light-warning p-2 text-uppercase px-3">
											<i class='bx bxs-circle me-1'></i>Đã nhận đơn
										</div>
										}
										else if (bill.BillStatus == "2")
										{
										<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
											<i class='bx bxs-circle me-1'></i>Đang giao hàng
										</div>
										}
										@*else if (bill.BillStatus == "3")
										{
										<div class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">
											<i class='bx bxs-circle me-1'></i>Đã hoàn thành
										</div>
										}*@
								</td>
								<td>@bill.TotalPrice</td>
								<td>@bill.PurchaseDate</td>
									@*<td><a type="button" class="btn btn-primary btn-sm radius-30 px-4">@bill.ShippingAddress</a></td>*@
								<td>@bill.ShippingAddress</td>

									@*<div class="d-flex order-actions">
						<a href="javascript:;" class=""><i class='bx bxs-edit'></i></a>
						<a href="javascript:;" class="ms-3"><i class='bx bxs-trash'></i></a>
						</div>*@
								<td><a href="/Seller/DetailBill/?billId=@bill.BillId" type="button" class="btn btn-primary btn-sm radius-30 px-4">View Detail</a></td>
								<td>
									<input type="submit" value="Confirm" />
								</td>
							</tr>
							</form>
						}

					</tbody>
				</table>


			</div>

		</div>
	</div>

}

