@using Microsoft.AspNetCore.Identity
@using Project.Data
@{
    var listCate = _shopContext.Categories.ToList();


    foreach (var c in listCate)
    {
        var e = _shopContext.Entry(c);
        e.Collection(c => c.SubCategories).Load();
    }

}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ShopContext _shopContext

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <title>Uniqlo-Minimalist eCommerce Bootstrap 5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/plugins.css">
    <link rel="stylesheet" href="~/css/shortcode/shortcodes.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <script src="~/js/vendor/modernizr-3.11.2.min.js"></script>
</head>
<body>
    <div class="wrapper fixed__footer">
        <header id="header" class="htc-header header--3 bg__white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-2 col-lg-2 col-6">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index">
                                    <img src="~/images/logo/uniqlo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 d-none d-md-block">
                            <nav class="mainmenu__nav  d-none d-lg-block">
                                <ul class="main__menu">
                                    <li>
                                        <a asp-controller="Home" asp-action="Index">Home</a></a>

                                    </li>

                                    <li class="drop">
                                        <a href="/blog/index">Blog</a>

                                    </li>
                                    <li class="drop">
                                        <a style="cursor: pointer">Nam</a>
                                        <ul style="width: 500px" class="dropdown mega_dropdown">
                                            @foreach (var l in listCate)
                                            {
                                                <li>
                                                    <a class="mega__title">@l.CategoryName</a>
                                                    <ul class="mega__item">
                                                        @foreach (var ls in l.SubCategories)
                                                        {
                                                            if (ls.typeGender == null || ls.typeGender == true)
                                                            {
                                                                <li><a asp-controller="Product" asp-action="Index" asp-route-gender="false" asp-route-id="@ls.SubCategoryId">@ls.Name</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="drop">
                                        <a style="cursor: pointer">Nữ</a>
                                        <ul class="dropdown mega_dropdown">
                                            @foreach (var l in listCate)
                                            {
                                                <li>
                                                    <a class="mega__title">@l.CategoryName</a>
                                                    <ul class="mega__item">
                                                        @foreach (var ls in l.SubCategories)

                                                        {
                                                            if (ls.typeGender == null || ls.typeGender == false)
                                                            {
                                                                <li><a asp-controller="Product" asp-action="Index" asp-route-gender="true" asp-route-id="@ls.SubCategoryId">@ls.Name</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }

                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </nav>

                            <div class="mobile-menu clearfix d-block d-lg-none">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li>
                                            <a href="index.html">Home</a>
                                            <ul>
                                                <li><a href="index.html">Home 1</a></li>
                                                <li><a href="index-2.html">Home 2</a></li>
                                                <li><a href="index-3.html">Home 3</a></li>
                                                <li><a href="index-4.html">Home 4</a></li>
                                                <li><a href="index-5.html">Home 5</a></li>
                                                <li><a href="index-6.html">Home 6</a></li>
                                                <li><a href="index-7.html">Home 7</a></li>
                                                <li><a href="index-8.html">Home 8</a></li>
                                                <li><a href="index-9.html">Home 9</a></li>
                                                <li><a href="index-10.html">Home 10</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About</a></li>
                                        <li>
                                            <a href="blog.html">blog</a>

                                        </li>
                                        <li>
                                            <a href="shop.html">Shop</a>
                                            <ul>
                                                <li>
                                                    <a href="shop.html">Shop Pages</a>
                                                    <ul>
                                                        <li><a href="shop.html">shop</a></li>
                                                        <li><a href="shop-sidebar.html">shop sidebar</a></li>
                                                        <li><a href="cart.html">cart</a></li>
                                                        <li><a href="checkout.html">checkout</a></li>
                                                        <li><a href="wishlist.html">wishlist</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="shop.html">Product Types</a>
                                                    <ul>
                                                        <li><a href="product-details.html">Simple Product</a></li>
                                                        <li><a href="product-details.html">Variable Product</a></li>
                                                        <li><a href="product-details.html">Grouped Product</a></li>
                                                        <li><a href="product-details.html">Downloadable Product</a></li>
                                                        <li><a href="product-details.html">Simple Product</a></li>
                                                    </ul>
                                                </li>
                                                <!-- End Single Mega MEnu -->
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">pages</a>
                                            <ul>
                                                <li><a href="about.html">about</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop-sidebar.html">shop sidebar</a></li>
                                                <li><a href="product-details.html">product details</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                                <li><a href="checkout.html">checkout</a></li>
                                                <li><a href="team.html">team</a></li>
                                                <li><a href="login-register.html">login & register</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-lg-2 col-6">
                            <ul class="menu-extra">
                                <li class="search search__open d-none d-sm-block"><span class="ti-search"></span></li>

                                @if (!SignInManager.IsSignedIn(User))
                                {
                                    <li><a asp-area="Identity" asp-page="/Account/Login"><span class="ti-user"></span></a></li>

                                }
                                else
                                {
                                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><span class="ti-user"></span></a></li>

                                }

                                <li class=""> <a asp-action="AddProductWish" asp-controller="Product"> <span class="ti-heart"></span></a></li>
                                <li class=""> <a asp-action="Index" asp-controller="Cart"> <span class="ti-shopping-cart"></span></a></li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                        </form>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!------------------->
        <!------------------->
        <!------------------->
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="search__inner">
                                <form asp-action="Search" asp-controller="Product" method="get">
                                    <input name="name" placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
        </div>
        <!-- End phan tren -->
        <!-- Start sldie -->
        <div>

            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="htc__foooter__area" style="">
            <div class="container">
                <div class="row footer__container clearfix">
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <div class="ft__widget">
                            <div class="ft__logo">
                                <a href="index.html">
                                    <img src="~/images/logo/uniqlo.png" alt="footer logo">
                                </a>
                            </div>
                            <div class="footer__details">
                                <p>Get 10% discount with notified about the latest news and updates.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-3 col-sm-6 smb-30 xmt-30">
                        <div class="ft__widget">
                            <h2 class="ft__title">Newsletter</h2>
                            <div class="newsletter__form">
                                <div class="input__box">
                                    <div id="mc_embed_signup">
                                        <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll" class="htc__news__inner">
                                                <div class="news__input">
                                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                                </div>
                                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                                <div class="clearfix subscribe__btn">
                                                    <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="bst__btn btn--white__color">

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-3 col-sm-6 smt-30 xmt-30">
                        <div class="ft__widget contact__us">
                            <h2 class="ft__title">Contact Us</h2>
                            <div class="footer__inner">
                                <p> 319 Clematis St. <br> Suite 100 WPB, FL 33401 </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-2 lg-offset-1 col-sm-6 smt-30 xmt-30">
                        <div class="ft__widget">
                            <h2 class="ft__title">Follow Us</h2>
                            <ul class="social__icon">
                                <li><a href="https://twitter.com/devitemsllc" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/devitems/" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                                <li><a href="https://www.facebook.com/devitems/?ref=bookmarks" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="https://plus.google.com/" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>© 2022 Uniqlo. Made with <i class="ti-heart"></i> by <a target="_blank" href="https://www.facebook.com/phongnv0/">Phong Nguyễn.</a></p>
                                </div>
                                <ul class="footer__menu">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop.html">Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>


    </div>
    <script src="~/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="~/js/vendor/jquery.waypoints.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
































