
@{
    var Blog = ViewData["Blog"] as Blog;
}
<!-- blogcss -->
<link rel="stylesheet" href="~/blogcss/css/style.css">
<!-- end blogcss -->


<div id="page" style="background-color:#ffffff;">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="padding-bottom:30px">
                    @if (Blog.ImageBlogs != null)
                    {
                        @foreach (var imageBlog in Blog.ImageBlogs)
                        {
                            @if (imageBlog.IsBigImg == true)
                            {
                                <img src="https://res.cloudinary.com/dtwmfo4fl/image/upload/v1687962616/blog-bg_gjxwsw.jpg" class="img-responsive" alt="Image">
                            }

                        }

                    }
                </div>
                <div class="col-md-9 post">
                    <p style="font-size:30px; padding-bottom:10px">Bộ sưu tập</p>
                    <p>@Blog.content</p>
                </div>
                <div class="col-md-3">
                    <strong class="dark-color">SHARE THIS ARTICLE</strong>
                    <ul class="widget-social-list-2 left">
                        <li><a href="" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                        <li><a href="" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>

    <!-- /article Post -->


    <section class=" no-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>	BÀI LIÊN QUAN	</h2>
                </div>
                @if (Blog.ImageBlogs != null)
                {
                    @foreach (var imageBlog in Blog.ImageBlogs)
                    {
                        @if (imageBlog.IsBigImg == false)
                        {
                            <div class="col-md-4">
                                <div class="item-latest-post">
                                    <a href="single_blog.html">
                                        <img src="~/images/blog/@imageBlog.ImageURL" class="img-responsive" alt="Image">
                                    </a>
                                    <div class="desc">
                                        <h4><a href="single_blog.html">RIDICULUS ADIPISCING TETUR</a></h4>
                                        <p class="date-post">@imageBlog.DateUp?.ToString("MMMM, dd\"th\", yyyy")</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                }
            </div>

            <hr style="background-color: #896868;height:3px">


            <div class="col-md-12">
                <h2>SẢN PHẨM TRONG BỘ SƯU TẬP</h2>
            </div>


            <div class="row product__list">
                <!-- Start Single Product -->
                @foreach (var item in Blog.Products)
                {
                    <div class="col-md-3 single__pro col-lg-3 col-md-4 cat--1 col-sm-12">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="@item.ImageMain" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a asp-controller="Product" asp-action="DetailProduct" asp-route-id="@item.ProductId" title="Quick View" class="quick-view modal-view detail-link"><span class="ti-plus"></span></a></li>
                                        <li><a title="Add TO Cart" asp-controller="Cart" asp-action="Index"><span class="ti-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="add__to__wishlist">
                                    <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" asp-action="" asp-controller="Product"><span class="ti-heart"></span></a>
                                </div>
                            </div>
                            <div class="product__details desc">
                                <h2><a asp-controller="Product" asp-action="DetailProduct" asp-route-id="@item.ProductId">@item.ProductName</a></h2>
                                <ul class="product__price">
                                    @if (item.IsAvailble == false)
                                    {
                                        <li style="padding-left: 0px" class="new__price">Hết hàng</li>
                                    }
                                    else
                                    {
                                        if (item.Discount == 0)
                                        {
                                            <li style="padding-left: 0px" class="new__price">@(item.ProductPrice - item.Discount).000vnd</li>
                                        }
                                        else
                                        {
                                            <li class="old__price">@(item.ProductPrice).000vnd</li>
                                            <li class="new__price">@(item.ProductPrice - item.Discount).000vnd</li>
                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr style="background-color: #896868;height:3px">


        </div>
        <div class="line-top-right w-680"></div>

    </section>
    <!-- /relate post -->



</div>