﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CartItem>
@using Project.Models;
@using Project.Data;
@inject ShopContext _shopContext
@inject SignInManager<IdentityUser> _signInManagert
@{
    var products = ViewData["products"] as List<Product>;
    var address = "";
    List<Address> ad = new List<Address>();
    if (_signInManagert.IsSignedIn(User))
    {
        ad = _shopContext.Addresses.Where(p => p.UserId == _signInManagert.UserManager.GetUserId(User)).OrderBy(p => p.AddressId).ToList();
        if (ad.Count > 0)
        {
            address = ad[0].SpecificAdd + ", " + ad[0].District + "," + ad[0].Town + "," + ad[0].Province;
        }
    }
}


<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/images/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Checkout</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Checkout</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="blog-details-wrap ptb--120 bg__white" style="border-top: 2px;" ">
    <div class="container" ">
        <div class="row">
            <div class="col-md-12 col-lg-8">

                <div class="blog-details-left-sidebar">
                    <div class="blog-details-top">
                        <h2 style=" margin-bottom: 20px; font-size: 28px; padding-top: 0px" class="section-title-3">Thông tin nhận hàng</h2>

                        <div class="blog-details-pra" style="border-top: 1px solid #4c4c4c; border-bottom: 1px solid #4c4c4c">

                            <br><p style=" margin-bottom: 5px ;color: black;"><input type="radio" name="choise" id="1"> Delivery To Address</p>
                            <p style="margin-bottom: 5px; color: black;">Transport fee: <span style="color: red;">Miễn phí </span></p>
                            <p style="margin-bottom: 5px;font-weight: 600">
                                Miễn phí giao hàng áp dụng cho đơn hàng giao tận nơi với tất cả các đơn nhận tại cửa hàng (Click & Collect). Sau khi ấn Thanh Toán, các sản phẩm trong giỏ hàng sẽ mất.
                            </p>
                        </div>
                        <!-- End Blog Pra -->
                        <!-- Start Blog Tags -->
                        <form style="padding-top: 20px" asp-action="ProcessOrder" asp-controller="Order" method="post">
                            <div>
                                <div class="blog-details-pra">
                                    <div class="container">
                                        <div style="margin-bottom: 15px" class="row">
                                            <div style="padding-left: 0px" class="col-md-6">
                                                Email:
                                                <input type="text" name="email" />
                                            </div>
                                            <div class="col-md-6">
                                                Note:
                                                <input type="text" name="email" />
                                            </div>

                                        @if (TempData["Error"] != null)
                                        {
                                                <div style="margin-bottom: 15px" class="row">
                                                    <div style="padding-left: 0px" class="col-md-6">
                                                        <p class="text-danger">@TempData["Error"] </p>
                                                    </div>
                                                </div>
                                        }

                                        </div>
                                        <div id="add" class="row">

                                            <div style="  padding-left: 0px" class="col-2">
                                                <br><p style="color: black;"></> <i class="ti-microphone-alt"></i> Address :</p>
                                            </div>
                                            <div style="padding: 0px" class="col-6">
                                                <br><p id="add2" style=" color: black;">@address</p>
                                            </div>
                                        @if (TempData["ErrorA"] != null)
                                        {
                                                <div style="padding: 0px" class="col-1">
                                                    <span class="text-danger">@TempData["ErrorA"] </span>
                                                </div>
                                            
                                        }
                                        @if (address.Equals(""))
                                        {

                                                <div style=" margin-left: 20px; margin-top: 32px" class="col-2">
                                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style=" margin-left: 20px; width: 120px; height: 30px; background-color: black; color: white; border-radius: 4px;  "> Thêm địa chỉ</button>
                                                </div>
                                        }
                                        else
                                        {
                                                <div style=" margin-left: 20px; margin-top: 32px" class="col-2">
                                                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style=" margin-left: 20px; width: 120px; height: 30px; background-color: black; color: white; border-radius: 4px;  ">  Thay đổi</button>
                                                </div>
                                        }
                                            <input id="add1" type="text" name="address" value="@address" hidden />

                                            <div style=" top: 85px" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Địa chỉ</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                        @{
                                                            var count = 0;

                                                            foreach (var l in ad)
                                                            {
                                                                    <div style="margin-bottom: 15px" class="row">
                                                                        <div style=" padding-bottom: 10px; margin-left: 20px" class="col-9">
                                                                            <p style=" color: black;"><i class="ti-microphone-alt"></i>@(l.SpecificAdd + ", " + l.District + ", " + l.Town + ", " + l.Province)</p>
                                                                        </div>
                                                                        <div style="" class="col-2">
                                                                            <button type="button" style=" width: 120px; height: 30px; background-color: black !important; color: white; border-radius: 4px;  " onclick="closeModal('@(l.SpecificAdd + ", " + l.District + ", " + l.Town + ", " + l.Province)')"> Chọn</button>
                                                                        </div>
                                                                    </div>
                                                            }
                                                        }
                                                        </div>

                                                        <div class="modal-header">
                                                            <h5 style="margin-right: 610px" class="modal-title" id="exampleModalLabel">Dùng địa chỉ mới</h5>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div style="margin-bottom: 15px" class="row">
                                                                <div style=" padding-bottom: 10px; margin-left: 20px" class="col-9">
                                                                    <div style="margin-bottom: 15px" class="row">
                                                                        <div class="col-md-4">
                                                                            <select hi class="form-select form-select-sm mb-3" id="city" aria-label=".form-select-sm">
                                                                                <option value="" selected>Chọn tỉnh thành</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <select name="Town" class="form-select form-select-sm mb-3" id="district" aria-label=".form-select-sm">
                                                                                <option value="" selected>Chọn quận huyện</option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <select name="District" class="form-select form-select-sm" id="ward" aria-label=".form-select-sm">
                                                                                <option value="" selected>Chọn phường xã</option>
                                                                            </select>
                                                                        </div>

                                                                    </div>

                                                                    <div style="margin-bottom: 15px" class="row">
                                                                        <div id="q1" class="col-md-4" hidden>
                                                                            <p class="text-danger">Không được để trống</p>
                                                                        </div>
                                                                        <div class="col-md-4" >
                                                                        </div>
                                                                        <div id="w1" class="col-md-4" hidden>
                                                                            <p class="text-danger">Không được để trống</p>
                                                                        </div>
                                                                        <div  class="col-md-4">
                                                                        </div>
                                                                       
                                                                        <div id="e1" class="col-md-4" hidden>
                                                                            <p class="text-danger">Không được để trống</p>
                                                                        </div>

                                                                    </div>

                                                                    <span style="margin-right: 30px">Địa chỉ cụ thể: </span>
                                                                    <input id="r" style="width: 260px" type="text" onclick="f()">
                                                                    <p style="margin-left: 129px" id="r1" hidden class="text-danger">Không được để trống</p>

                                                                </div>
                                                                <div style="" class="col-2">
                                                                    <button type="button" style=" width: 120px; height: 30px; background-color: black !important; color: white; border-radius: 4px;  " onclick="closeModal('1')"> Chọn</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input checked value="1" class="form-check-input" type="radio" name="payment" id="flexRadioDefault1" onchange="handleRadioChange(1)">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Ship cod
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input value="2" class="form-check-input" type="radio" name="payment" id="flexRadioDefault2" onchange="handleRadioChange(2)">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Thanh toán bằng Paypal
                                    </label>
                                </div>

                                <input type="text" name="total" value="@ViewData["total"]" hidden />
                                <div class="blog-details-pra" style="border-bottom: 1px solid #4c4c4c">
                                    <br>
                                    <p>
                                        <input style=" height: 50px; border-radius: 4px; width: 300px; color: white; background-color: black" type="submit" value="Thanh toán" />
                                    </p><br>
                                </div>
                            </div>

                        </form>


                        <!-- End Blog Tags -->
                        <!-- Start Blog Comment Area -->
                        <div class="our-blog-comment mt--20">
                        </div>
                        <!-- End Blog Comment Area -->
                        <!-- Start Reply Form -->
                        <div class="our-reply-form-area mt--20">
                        </div>
                        <!-- End Reply Form -->
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-lg-4  smt-30 xmt-40">
                <div class="blod-details-right-sidebar">
                    <div class="category-search-area" style="border-top: 1px solid;border-bottom: 1px solid;border-left: 1px solid;border-right: 1px solid;">
                        <div class="container">
                            <div class="row">
                                <div class="col-7">
                                    <br><h3 style="font-weight: 600;color: black;">TOTAL ORDERS </h3>
                                    <br><h6>Total</h6>
                                    <br><h3 style="font-weight: 600;color: black;">TOTAL</h3>
                                    Value added tax included<br>
                                    <br><h3 style="font-weight: 600;color: black;">TOTAL ORDERS</h3>
                                </div>
                                <div class="col-5">
                                    <br><a href="#"><h3 style="font-weight: 600;color: black; text-decoration: underline;">FIX</h3><br></a>
                                    <br><h6>>@ViewData["total"].000VND</h6>
                                    <br><h3 style="font-weight: 600;color: black;">@ViewData["total"].000VND</h3>
                                    317.273 VND<br>
                                    <h3 style="font-weight: 600;color: black;">@ViewData["total"].000VND</h3>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <!-- Start Category Area -->
                    <div class="category-search-area" style="border-top: 1px solid;border-bottom: 1px solid;border-left: 1px solid;border-right: 1px solid;">

                        <div class="container">
                            <br><h3 style="font-weight: 600;color:  black;">ORDERS PRODUCT</h3><br>
                            <div class="row">
                            @foreach (var l in Model)
                            {
                                    <div class="col-4">
                                    @if (products != null)
                                    {
                                        @foreach (var i in products)
                                        {
                                            if (i.ProductId == l.ProductId)
                                            {
                                                    <img src="@i.ImageMain">
                                            }
                                        }
                                    }
                                        <h6>x@(l.Quantity)</h6><br>
                                    </div>
                            }
                            </div>
                        </div><br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function f() {
        var q1 = document.getElementById('q1');
        var w1 = document.getElementById('w1');
        var e1 = document.getElementById('e1');
        var r1 = document.getElementById('r1');
        q1.hidden = true
        w1.hidden = true
        e1.hidden = true
        r1.hidden = true
    }

    var addDiv = document.getElementById("add");
    function handleRadioChange(radio) {
        var addDiv = document.getElementById("add");
        addDiv.hidden = !addDiv.hidden;
    }

    function closeModal(a) {
        var addressInput = document.getElementById('add2');
        var addressInput1 = document.getElementById('add1');

        if (a == '1') {
            var q = document.getElementById('city');
            var w = document.getElementById('district');
            var e = document.getElementById('ward');
            var r = document.getElementById('r');
            var q1 = document.getElementById('q1');
            var w1 = document.getElementById('w1');
            var e1 = document.getElementById('e1');
            var r1 = document.getElementById('r1');

            if (q.value == "") {
                q1.hidden = false
                return;
            }
            if (w.value == "") {
                w1.hidden = false
                return;
            }
            if (e.value == "") {
                e1.hidden = false
                return;
            }
            if (r.value == "") {
                r1.hidden = false
                return;
            }

            a = r.value + ", " + e.value + ", " + w.value + ", " + q.value;

        }


        addressInput1.value = a;
        addressInput.innerHTML = a;
        var modal = document.getElementById('exampleModal');
        modal.classList.remove('show');
        modal.style.display = 'none';
        document.body.classList.remove('modal-open');

        var modalBackdrop = document.getElementsByClassName('modal-backdrop');
        while (modalBackdrop[0]) {
            modalBackdrop[0].parentNode.removeChild(modalBackdrop[0]);
        }

    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Name);
        }
        citis.onchange = function () {
            var q1 = document.getElementById('q1');
            var w1 = document.getElementById('w1');
            var e1 = document.getElementById('e1');
            var r1 = document.getElementById('r1');
            q1.hidden = true
            w1.hidden = true
            e1.hidden = true
            r1.hidden = true
            district.length = 1;
            ward.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Name === this.value);

                for (const k of result[0].Districts) {
                    district.options[district.options.length] = new Option(k.Name, k.Name);
                }
            }
        };
        district.onchange = function () {
            var q1 = document.getElementById('q1');
            var w1 = document.getElementById('w1');
            var e1 = document.getElementById('e1');
            var r1 = document.getElementById('r1');
            q1.hidden = true
            w1.hidden = true
            e1.hidden = true
            r1.hidden = true
            ward.length = 1;
            const dataCity = data.filter((n) => n.Name === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Name);
                }
            }
        };
    }
</script>