@model List<Product>
@{
    var subCate = ViewData["subCate"] as SubCategory;
    var listSubCate = ViewData["listSubCate"] as List<SubCategory>;
}
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/images/bg/4.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
    </div>
</div>


<section class="htc__product__area shop__page ptb--130 bg__white">
    <div class="container">
        <div class="htc__product__container">

            <div class="row">
                <div class="col-md-12">
                    <div class="filter__menu__container">
                        <div class="product__menu">

                            @if (listSubCate != null)
                            {
                                foreach (var l in listSubCate)
                                {
                                    if (subCate != null && l.SubCategoryId == subCate.SubCategoryId)
                                    {
                                        <a style="color: red; font-size: 17px; margin-right:25px">@l.Name</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Product" asp-action="Index" asp-route-gender="@ViewData["gender"]" asp-route-id="@l.SubCategoryId" style="font-size: 17px; margin-right:25px">@l.Name</a>
                                    }
                                }
                            }

                        </div>
                        <div class="dropdown">
                            <button style="color: red" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tìm kiếm theo giá
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-route-mode="1" asp-route-gender="@ViewData["gender"]" asp-route-id="@ViewData["id"]" asp-controller="Product" class="dropdown-item">Giá: Giá thấp đến cao</a></li>
                                <li><a asp-route-mode="2" asp-route-gender="@ViewData["gender"]" asp-route-id="@ViewData["id"]" asp-controller="Product" class="dropdown-item">Giá: giá cao đến thấp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row product__list">



                @foreach (var l in Model)
                {
                    <div class="col-md-4 single__pro col-lg-3 col-sm-12 cat--4">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="@l.ImageMain" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a asp-controller="Product" asp-action="DetailProduct" asp-route-id="@l.ProductId" title="Quick View" class="quick-view modal-view detail-link"><span class="ti-plus"></span></a></li>
                                        <li><a title="Add TO Cart" asp-action="Index" asp-controller="Cart"><span class="ti-shopping-cart"></span></a></li>
                                    </ul>
                                </div>
                                <div class="add__to__wishlist">
                                    <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" asp-action="" asp-controller="Product"><span class="ti-heart"></span></a>
                                </div>

                            </div>
                            <div class="product__details">
                                <h2><a asp-controller="Product" asp-action="DetailProduct" asp-route-id="@l.ProductId">@l.ProductName</a></h2>
                                <ul class="product__price">
                                    @if (l.IsAvailble == false)
                                    {
                                        <li style="padding-left: 0px" class="new__price">Hết hàng</li>
                                    }
                                    else
                                    {
                                        if (l.Discount == 0)
                                        {
                                            <li style="padding-left: 0px" class="new__price">@(l.ProductPrice - l.Discount).000vnd</li>
                                        }
                                        else
                                        {
                                            <li class="old__price">@(l.ProductPrice).000vnd</li>
                                            <li class="new__price">@(l.ProductPrice - l.Discount).000vnd</li>
                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                    </div>
                }


            </div>
            <div class="row mt--60">
                <div class="col-md-12">
                    <div class="htc__loadmore__btn">
                        <a href="#">load more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>