@{
    Layout = "~/Views/Shared/_DashLayout.cshtml";
    DateTime now = DateTime.Now;
}
@model SortedDictionary<int, double>


<div style="margin-left: 30px" class="row">
    <div style=" padding-bottom: 30px; margin-right: 40px; background-color: white" class="col-md-7">
        <canvas id="revenueChart" width="400" height="200"></canvas>
        <div style=" margin-bottom: 3px; margin-top: 40px" class="row  d-flex justify-content-center align-items-center">
            <p style="font-weight: 400; font-size: 20px">

                DOANH THU TRONG NĂM
            </p>
        </div>
        <div style="margin-bottom: 20px" class="row  d-flex justify-content-center align-items-center">
            <p style=" font-size: 17px; color: #009688">   <i class="fas fa-dollar-sign"></i> @(ViewData["total"]).000VND</p>
        </div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
           
                <p style="font-size: 17px; color: red">    <i class="fas fa-dollar-sign"></i>  TRONG THÁNG @(ViewData["totalMonth"]).000VND</p>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">

                <p style="font-size: 17px; color: red">   <i class="fas fa-dollar-sign"></i>  TRONG Ngày @(ViewData["totalDay"]).000VND</p>
            </div>

        </div>
    </div>
    <div style=" padding-bottom: 30px; margin-left: 30px; background-color: white" class="col-md-4">
        vẽ biểu đồ vào đây (để ý col-md vs row mà xây dựng bố cục)
        Phần này có thể đủ để chia thêm 2 row row trên vẽ 1 biểu đồ row dưới vẽ thêm 1 biểu đồ
    </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    var month = [];
    var revenue = [];
    @foreach (var item in Model)
    {
        <text>
            month.push('Tháng ' + '@item.Key');
        revenue.push(parseFloat('@item.Value'));
        </text>
    };

    var revenueData = {
        labels: [],
        datasets: [{
            label: "Doanh thu trong năm ( .000VND )",
            data: [],
            fill: false,
            borderColor: "red",
            borderWidth: 1,
            pointRadius: 6,
            pointHoverRadius: 8,
            pointStyle: "circle"
        }]
    };

    month.forEach(function (month) {
        revenueData.labels.push(month);
    });

    revenue.forEach(function (revenue) {
        revenueData.datasets[0].data.push(revenue);
    });
    // Tạo biểu đồ đường
    var ctx = document.getElementById("revenueChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: revenueData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>